/*Estilos del menú*/
head {background-color: rgb(165, 192, 14) rgb(112, 16, 112);}
header, footer { background-color: #eb396eb7; color: rgb(22, 30, 104); text-align: center; padding: 1em 0; }

nav ul { list-style-type: none; padding: 0; }
nav ul li {display: inline; margin: 0 10px; }
nav ul li a { color: rgb(34, 26, 110); text-decoration: rgb(48, 146, 92); }
section { padding: 20px; }
.contact-form { max-width: 600px; margin: auto; }
.contact-form input, .contact-form textarea { width: 100%; padding: 10px; margin: 5px 0; }
section { padding: 20px; }
.categories { display: flex; flex-wrap: wrap; justify-content: space-around; }
.category-item { border: 1px solid #af088b93; border-radius: 5px; 
margin: 10px; padding: 10px; width: 200px; text-align: center; }
.category-item img { max-width: 100%; border-radius: 10px; }
.contact-form { max-width: 600px; margin: auto; }
.contact-form input, .contact-form textarea { width: 100%; padding: 10px; margin: 10px 0; }
.map-container { width: 100%; height: 300px; padding: 100px;} 
h2{font-size: 35px;}
h1{font-size: 60px;}
.frase-2{font-size: 20px;}
.pie-pagina{padding: 100px;}
.frase-3{font-size: 26px;}
.frase-4{font-size: 25px;}
.frase-5{font-size: 25px;}
.frase-6{font-size: 25px;}
.frase-7{font-size: 25px;}
.frase-8{font-size: 26px;}
.frase-9{font-size: 20px;}
.frase-10{font-size:20px;}
.frase-11{font-size: 20px;}
.frase-12{font-size: 20px;}